   <div class="jumbotron">
     <h1 class="title">半价网</h1>
     <p class="slogan">半价网是一个提供二手商品交易的网站。
     <br>
     你是否因为手上有一些不用的东西而感到烦恼？扔了可惜，留下又累赘......
     <br>
      半价网为你提供一个平台，让“累赘”都能物尽其用，同时也可以用一半的价格淘到心仪的商品。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/products">我是买家</a>
                     <a class="btn btn-lg btn-danger" href="/account/products">我是卖家</a>
     </p>
   </div>
