<div class="row">
  <h2>我的收藏</h2>
  <p>
      <!-- This snippent uses <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> for the animation of the buttons. -->
  </p>
  <%= render "index_photo" %>
</div>
