
.navbar-default {
    background-color: #ffffff;//背景颜色
    border-color: #ffffff;//边框色
    margin-bottom: 0; //底部 margin 不撑开距离
    // height: 30px;
    // line-height: 30px;
  }

.header {
  width: 1200px; /*宽度1200px*/
  margin: 0 auto; /*水平居中*/
  margin-top: 30px; /*上边距*/
}

.logo {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-right: 180px; /*加点右边距，和search模块拉开距离*/
}

.logo a {
  font-size: 40px; /*设置字体36px*/
  color: #000000; /*红色*/
  text-decoration: none; /*不要下划线*/
}

.search {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  width: 400px;
  margin-left: 500px; /*右边距*/
  margin-top: 6px; /*上边距*/
  position: relative; /*相对定位*/
}

.search-input {
  width: 400px;
  height: 36px;
  line-height: 36px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  color: #666;
  padding: 4px 20px; /*调一下上下左右边距*/
  border-width: 2px; /*边框宽度为2px*/
  border-color: #48759A; /*设置边框颜色为红色*/
  border-style: solid; /*设置为实线*/
  font-size: 14px; /*字体14px*/
  font-family: "microsoft yahei"; /*设置成微软雅黑字体*/
  border-radius: 5px; /*圆角20px*/
}

.search-button {
  width: 54px;
  height: 36px;
  border: none; /*去掉button默认的border*/
  background: none; /*去掉button默认的背景颜色*/
  font-family: "Microsoft YaHei";
  font-size: 16px;
  position: absolute; /*绝对定位*/
  cursor: pointer; /*鼠标一上去，显示手型*/
  top: 0;
  right: 0;
}

.search-button .fa-search {
  color: #d32048; /*搜索图标的颜色*/
}
