
.navbar-default {
    background-color: #bee6f5;//背景颜色
    border-color: #ffffff;//边框色
    margin-bottom: 0; //底部 margin 不撑开距离
    // height: 30px;
    // line-height: 30px;
    padding-left: 10px; /*左边加点空间，不然太挤啦*/
    border-radius: 0;
  }

.navbar-center {
    margin-left: 300px;
  }

.header {
  width: 1200px; /*宽度1200px*/
  margin: 0 auto; /*水平居中*/
  margin-top: 30px; /*上边距*/
}

.logo {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-right: 180px; /*加点右边距，和search模块拉开距离*/
}

.logo a {
  font-size: 40px; /*设置字体36px*/
  color: #000000; /*红色*/
  text-decoration: none; /*不要下划线*/
}

.products-search-form {
  margin-top: 8px;
  padding-left: 0px;
  width: 300px;
  .search-bar {
    position: relative;
    margin-top: 8px;
    display: inline-block;
    // padding-right: 40px;

    .search-bar-input  {
      min-width: 300px;
      transition: 0.35s;
    }
  }
}
